@font-face {
    font-family: 'rag';
    src: url('assets/Rag-Regular.woff2');
}

@font-face {
    font-family: 'ia-writer-quattro';
    src: url('assets/iAWriterQuattro/iAWriterQuattroS-Regular.woff2');
}

html,
body {
    font-family: 'ia-writer-quattro';
    color: whitesmoke;
    overflow: hidden;
}

audio {
    display: none;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p,
h3 {
    margin: 0;
}

.l {
    pointer-events: none;
}

#flicker {
    color: black;
    animation: flickerAnimation 5s infinite;
}

@keyframes flickerAnimation {
    0% {
        color: black;
    }

    50% {
        color: silver;
    }

    100% {
        color: black;
    }
}

#intro {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}

#mirrored-cursor {
    width: 18px;
    height: 18px;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: #090139;
}

#earth {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50vh;
}

#poem {
    position: absolute;
    color: whitesmoke;
    left: 10vw;
    top: 20vh;
}

#gradient-circle {
    z-index: 2;
    width: 400px;
    height: 400px;
    position: absolute;
    border-radius: 50%;
    background: radial-gradient(circle, #3F87BB 0%, #184478 20%, rgba(255, 255, 255, 0) 100%);
    pointer-events: none;
    transform: translate(-50%, -50%);
    filter: blur(200px);
    mix-blend-mode: screen;
}

.words {
    position: absolute;
}

.words:hover {
    text-decoration: underline;
}

.star {
    position: absolute;
    font-size: 14px;
    color: whitesmoke;
}

.line {
    position: absolute;
    border-bottom: 1px dashed whitesmoke;
    transform-origin: 0 0;
}