@font-face {
    font-family: 'rag';
    src: url('assets/Rag-Regular.woff2');
}

@font-face {
    font-family: 'ia-writer-quattro';
    src: url('assets/iAWriterQuattro/iAWriterQuattroS-Regular.woff2');
}

html,
body {
    font-family: 'ia-writer-quattro';
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p,
h3 {
    margin: 0;
}

#flicker {
    color: black;
    animation: flickerAnimation 5s infinite;
}

@keyframes flickerAnimation {
    0% {
        color: black;
    }

    50% {
        color: silver;
    }

    100% {
        color: black;
    }
}

#intro {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    text-align: center;
}

.mirrored-cursor {
    width: 18px;
    height: 18px;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(to bottom, #87ceeb, white);
}

#earth {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50vh;
}

#poem {
    position: absolute;
    color: whitesmoke;
    left: 10vw;
    top: 20vh;
}

.words {
    position: absolute;
}

.star {
    position: absolute;
    font-size: 14px;
    color: whitesmoke;
}

.line {
    position: absolute;
    border-bottom: 1px dashed whitesmoke;
    transform-origin: 0 0;
}